$fontReg: 'Noto Sans', sans-serif;
$orange: #fcb812;
$blue:#152129;
$fontGray:#9ea5aa;
$borderGray:#d7d7d7;
$btnGray: #e7e8e9;
$headerBlack:#101a20;
$inputFontColor:#444444;
$bgWhite: white;
$bgSilver: #FAFAFA;