<div class="container-fluid">
  <div class="navbar m-r-60 m-l-60 p-t-20 p-b-16">
    <img class="navbar__logo" src="assets/images/mrkt-logo.png">
    <div class="navbar__actions align-right">
      <div class="dropdown" navbar-action>
        <button class="dropbtn menu">
          <img src="assets/images/menu-icon.png" alt="">
        </button>
      </div>
      <div class="dropdown" navbar-action>
        <button class="dropbtn languages p-t-0">English</button>
      </div>
    </div>
  </div>

  <div class="container m-t-70">
    <div class="row">
      <div class="col-6">
        <div class="row m-b-65">
          <div class="col-12 text-center">
            <span class="fs-18">Start selling on curated marketplace worldwide. <br> <u>Designed for
                Designers.</u></span>
          </div>
        </div>

        <div class="row m-b-80">
          <div class="col-12">
            <img src="assets/images/phones.png" class="phone-image" alt="">
          </div>
        </div>

        <div class="row fs-14 p-l-45">
          <div class="col-12 m-b-25">
            <div class="row items-center">
              <div class="col-1">
                <div class="circle">
                  <div class="circle__line tip"></div>
                  <div class="circle__line bottom"></div>
                </div>
              </div>
              <div class="col-11">
                <span>Sell Your Products on Mobile friendly Platform for all users</span>
              </div>
            </div>
          </div>
          <div class="col-12 m-b-25">
            <div class="row items-center">
              <div class="col-1">
                <div class="circle">
                  <div class="circle__line tip"></div>
                  <div class="circle__line bottom"></div>
                </div>
              </div>
              <div class="col-11">
                <span>Shop your style & find fashion designers worldwide</span>
              </div>
            </div>
          </div>
          <div class="col-12 m-b-25">
            <div class="row items-center">
              <div class="col-1">
                <div class="circle">
                  <div class="circle__line tip"></div>
                  <div class="circle__line bottom"></div>
                </div>
              </div>
              <div class="col-11">
                <span>Start Selling, World awaits you, Just a few staps to go Global</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row items-center" style="padding: 0 15%;">
              <div class="col-4 fs-18">
                <span>Available on</span>
              </div>
              <div class="col-8">
                <img class="store-image" src="assets/images/app-store.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <span class="fs-36">Sell on Global <br> curated marketplace.</span>
            <p class="fs-13 m-b-40">Searching for better ways to sell your products? Join us today.</p>
          </div>
          <div class="col-12">
            <form class="mrkt-form" [formGroup]="registerForm">
              <div class="input-group col-12">
                <input type="text" placeholder="Email" formControlName="email">
                <ng-container
                  *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
                  <span validationError *ngIf="registerForm.controls.email.hasError('required')">
                    Required Field
                  </span>
                  <span validationError *ngIf="registerForm.controls.email.hasError('email')">
                    Incorrect Format. Should Be xxxx@xx.xxx
                  </span>
                </ng-container>
              </div>
              <div class="input-group col-12">
                <input type="password" placeholder="Password" formControlName="password">
                <ng-container
                  *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
                  <span validationError *ngIf="registerForm.controls.password.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>
              <div class="input-group col-12">
                <input type="password" placeholder="Repeat Password" formControlName="confirmPassword">
              </div>

              <span class="form-legend">General Information</span>

              <div class="input-group col-12">
                <input type="text" placeholder="Full Name" formControlName="fullName">
                <ng-container
                  *ngIf="registerForm.controls.fullName.errors && (registerForm.controls.fullName.dirty || registerForm.controls.fullName.touched)">
                  <span validationError *ngIf="registerForm.controls.fullName.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>
              <div class="input-group col-12">
                <input type="text" placeholder="Company Name" formControlName="companyName">
                <ng-container
                  *ngIf="registerForm.controls.companyName.errors && (registerForm.controls.companyName.dirty || registerForm.controls.companyName.touched)">
                  <span validationError *ngIf="registerForm.controls.companyName.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>
              <div class="input-group col-12">
                <input type="text" placeholder="Your Position" formControlName="position">
                <ng-container
                  *ngIf="registerForm.controls.position.errors && (registerForm.controls.position.dirty || registerForm.controls.position.touched)">
                  <span validationError *ngIf="registerForm.controls.position.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>
              <div class="input-group col-12">
                <select formControlName="city" placeholder="Choose City">
                  <option value="" disabled selected>Choose City</option>
                  <option value="Tbilisi">Tbilisi</option>
                  <option value="Rustavi">Rustavi</option>
                  <option value="Kutaisi">Kutaisi</option>
                  <option value="Batumi">Batumi</option>
                </select>
                <ng-container
                  *ngIf="registerForm.controls.city.errors && (registerForm.controls.city.dirty || registerForm.controls.city.touched)">
                  <span validationError *ngIf="registerForm.controls.city.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>

              <span class="form-legend">Contact Information</span>

              <div class="input-group col-12">
                <input type="text" placeholder="Business Phone" formControlName="bussinessPhone">
                <ng-container
                  *ngIf="registerForm.controls.bussinessPhone.errors && (registerForm.controls.bussinessPhone.dirty || registerForm.controls.bussinessPhone.touched)">
                  <span validationError *ngIf="registerForm.controls.bussinessPhone.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>
              <div class="input-group col-12">
                <input type="text" placeholder="Business Mail" formControlName="bussinessMail">
                <ng-container
                  *ngIf="registerForm.controls.bussinessMail.errors && (registerForm.controls.bussinessMail.dirty || registerForm.controls.bussinessMail.touched)">
                  <span validationError *ngIf="registerForm.controls.bussinessMail.hasError('required')">
                    Required Field
                  </span>
                </ng-container>
              </div>

              <label class="mrkt-checkbox m-t-36">By creating a mrkt account, you’are agreeing to accept our terms of
                services
                <input type="checkbox" formControlName="terms">
                <span class="checkmark"></span>
              </label>

              <button type="submit" class="btn btn-primary btn-md m-t-41" (click)="onSubmitRegister()"
                [disabled]="registerForm.invalid">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mrkt-footer fs-14">
    <div class="navbar m-r-60 m-l-60">
      <ul class="navbar__pills">
        <li><a href="#terms">Terms</a></li>
        <li><a href="#press">Press</a></li>
        <li><a href="#jobs">Jobs</a></li>
      </ul>
      <div class="navbar__actions align-right">
        <span>Copyright mrkt.com 2019 © mrkt.com. All rights Reserved. For more Info </span>
      </div>
    </div>
  </div>
</div>
