<div class="container-fluid bg-slvr">
  <div class="navbar p-r-60 p-l-100 bg-w">
    <div class="row w-100 items-center">
      <div class="col-3">
        <img class="navbar__logo push-center" src="assets/images/mrkt-logo.png">
      </div>
      <div class="col-6 d-flex j-center">
        <ul class="navbar__pills align-center">
          <li><a href="#terms" class="active">Home</a></li>
          <li><a href="#press">Products</a></li>
          <li><a href="#jobs">Orders</a></li>
          <li><a href="#jobs">Reports</a></li>
          <li><a href="#jobs">Settings</a></li>
        </ul>
      </div>
      <div class="col-3 d-flex j-center">
        <div class="navbar__actions float-r">
          <div navbar-action>
            <button class="btn-alt round">Status</button>
          </div>
          <div navbar-action>
            <button class="btn-alt round notifications">
              <img src="assets/images/bell-icon.png" alt="">
            </button>
          </div>
          <div navbar-action>
            <button class="btn-alt round profile">
              <img src="assets/images/profile-pic.png" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="row bg-w card">
          <div class="col-12 text-center">
            <div class="text-center">
              <img src="assets/images/cube.png" alt="">
              <img src="assets/images/circle.png" alt="">
              <img src="assets/images/triangle.png" alt="">
            </div>
            <h4>You are needed Global! <br /> Mind the entire Frame.</h4>
            <p class="fs-11">Our main goal is not just help you sell <br />
              your fashion, but what’s more important,<br />
              Help you get on top of global fash</p>
            <p class="fs-11">Take a moment to </p>
          </div>
        </div>
        <div class="row bg-w nav-card">
          <div class="col-12">
            <div class="navbar navbar__alt">
              <ul class="navbar__pills">
                <li>
                  <a href="#generalInfo" class="active">
                    <img src="assets/images/cube.png" alt="">
                    General Info</a>
                </li>
                <li>
                  <a href="#brands">
                    <img src="assets/images/circle.png" alt="">
                    Brands</a>
                </li>
                <li>
                  <a href="#contacts">
                    <img src="assets/images/triangle.png" alt="">
                    Contacts</a>
                </li>
                <li>

                  <a href="#addresses">
                    <img src="assets/images/cube.png" alt="">
                    Addresses
                  </a>
                </li>
                <li>
                  <a href="#finances">
                    <img src="assets/images/circle.png" alt="">
                    Finances</a>
                </li>
                <li>
                  <a href="#logosAndImages">
                    <img src="assets/images/triangle.png" alt="">
                    Logos and Images</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row bg-w user-info-card">
          <div class="col-12 d-flex">
            <div class="row items-center w-100">
              <div class="col-2 text-center">
                <img class="user-icon" src="assets/images/user-icon.png" alt="">
              </div>
              <div class="col-6">
                <p class="fs-12">Hello, Signe Veiteberg!</p>
                <p class="fs-18">Your account is not ready for selling yet</p>
                <p class="fs-12">If you have any products ready for shipment, you can start adding <br />
                  it on product page But in order to sell you still need to confirm your information
                </p>
              </div>
              <div class="col-4">
                <div class="profile-btn m-b-10">
                  <img src="assets/images/user-icon-alt.png" alt="">
                  <span class="fs-11 m-l-16">Account Status</span>
                  <span class="fs-11 approved m-l-70">Approved</span>
                </div>
                <div class="finance-info-btn fs-11">
                  Please add your financial information
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row bg-w info-card">
          <div class="col-12">
            <h3>General Information</h3>

            <form class="user-info-form">
              <div class="form-group">
                <span class="label">Email</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Position</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Password</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">First name</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Last name</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Company name</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Country</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Bussiness phone</span>
                <input type="text">
              </div>
              <div class="form-group">
                <span class="label">Bussiness mail</span>
                <input type="text">
              </div>
              <button class="save-btn">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
